@use '../colors/globals';

.menu-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 20px;
}

.menu-border {
    border: 1px solid globals.$menu-border;
    border-radius: 10px;
    padding: 20px;
    background-color: globals.$menu-background-color;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    width: 100%;
}

.menu input {
    margin-left: 10px;
    color: globals.$menu-input-color;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.menu button {
    background-color: transparent;
    border: none;
    outline: none;
    color: globals.$menu-button-color;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.result-search {
    position: absolute;
    top: 85%;
    left: 20px;
    width: 400px;
    background-color: globals.$result-search-background-color;
    box-shadow: 0 4px 8px 0 globals.$result-search-box-shadow;
    border-radius: 8px;
    overflow: hidden;
}

.song-search {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid globals.$song-search-border-bottom;
    background-color: globals.$song-search-background-color;
    color: globals.$song-search-color;
}

.song-search:hover {
    cursor: pointer;
    background-color: globals.$song-search-hover-background-color;
}

.song-artist {
    color: globals.$song-artist-color;
}

.song-search-link {
    text-decoration: none;
    color: inherit;
}

.song-search-link:hover {
    text-decoration: none;
    color: inherit;
}