.music-content-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.music-content-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    background-color: #26292D;
    border-radius: 50px 0 0 50px;
}
  
.music-player {
    width: 900px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
  
.music-info h4 {
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
}
  
.music-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.music-border, .control-border {
    border: 1px solid #53565a;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 700px;
}
  
.progress-bar {
    margin-top: 20px;
    height: 10px;
    background-color: #424242;
    border-radius: 5px;
    overflow: hidden;
}
  
.progress {
    height: 100%;
    width: 50%; /* Ajuste la largeur de la barre de progression selon tes besoins */
    background-color: #6699FF; /* Couleur de la barre de progression */
}

.duration {
    margin-top: 10px;
    font-size: 14px;
    color: #FFFFFF;
}
  
.music-control {
    margin-top: 20px;
    font-size: 24px;
    color: #6699FF;
}
  
.music-control i {
    margin: 0 10px;
    cursor: pointer;
}
  
.music-control i:hover {
    color: #527bcc;
}

.music-control input[type="range"] {
    background-color: transparent;
}
  