@use '../colors/globals';

.music-content-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.music-content-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: globals.$music-content-player;
}

.music-player {
    border-radius: 8px;
    text-align: center;
}

.music-info h4 {
    margin: 0;
    font-size: 16px;
    color: globals.$music-info-h4-color;
}

.music-img {
    transition: transform 0.5s ease-in;
    transform-origin: center;
}

.rotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.music-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.music-border, .control-border {
    border: 1px solid globals.$music-border_control-border_border;
    border-radius: 10px;
    background-color: globals.$music-border_control-border_background-color;
    margin: 10px;
    padding: 20px;
    width: 700px;
    transition: all 0.3s ease-out;
}

.music-border:hover {
    cursor: pointer;
    background-color: globals.$music-border-hover-background-color;
}
  
.progress-bar {
    margin-top: 20px;
    height: 10px;
    background-color: globals.$progress-bar-background-color;
    border-radius: 5px;
    overflow: hidden;
}
  
.progress {
    height: 100%;
    width: 50%; 
    background-color: globals.$progress-background-color; 
}

.progress:hover {
    cursor: pointer;
    background-color: globals.$progress-hover-background-color;
}

.duration {
    margin-top: 10px;
    font-size: 14px;
    color: globals.$duration-color;
}

.music-control {
    margin-top: 20px;
    font-size: 24px;
    color: globals.$music-control-color;
}

.music-control i {
    margin: 0 10px;
    cursor: pointer;
}

.music-control i:hover {
    color: globals.$music-control-color-i-hover;
}

.music-control input[type="range"] {
    background-color: transparent;
}