.music-content-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
  
.music-player {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
  
.music-info h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}
  
.music-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}
  
.progress-bar {
    margin-top: 20px;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}
  
.progress {
    height: 100%;
    width: 50%; /* Ajuste la largeur de la barre de progression selon tes besoins */
    background-color: #4caf50; /* Couleur de la barre de progression */
}
  
.music-control {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
  
.music-control i {
    margin: 0 10px;
    cursor: pointer;
}
  
.music-control i:hover {
    color: #4caf50;
}
  