// SETTING VARIABLES
$color-text: #333;
$color-bg: #fff;

// HOME variables 
// background-color: #6699FF;
$home-bg: #91C200;

// MENU variables
$menu-border: #373A3D;
$menu-background-color: #111600;
$menu-input-color: #fff;
$menu-button-color: #797979;
$result-search-background-color: #fff;
$result-search-box-shadow: rgba(0, 0, 0, 0.1);
$song-search-border-bottom: #4d4c4c;
$song-search-background-color: #26292D;
$song-search-color: #FFFFFF;
$song-search-hover-background-color: #373A3D;
$song-artist-color: #9F9F9F;

// PLAYER variables
$music-content-player: #111600;
$music-info-h4-color: #FFFFFF;
$music-border_control-border_border: #53565a;
$music-border_control-border_background-color: #26292D;
$music-border-hover-background-color: #373A3D;
$progress-bar-background-color: #424242;
$progress-background-color: #91C200;
$progress-hover-background-color: #729702;
$duration-color: #FFFFFF;
$music-control-color: #91C200;
$music-control-color-i-hover: #729702;

// DETAILS variables
$music-detail-border: #ccc;
$music-detail-background-color: #fff;
$music-detail-border-box-shadow: rgba(0, 0, 0, 0.1);
$music-detail-info-h4-color: #666;
$back-background-color: #91C200;
$back-color: #2f2f2f;
$back-hover-background-color: #729702;

// LIST variables
$song-border-border: #373A3D;
$song-border-background-color: #111600;
$song-background-color: #26292D;
$song-hover-background-color: #373A3D;
$song-info-color: #FFFFFF;
$song-info-h4-color: #9F9F9F;
